<header>
  <a href="/"><img style="height: 100px" id="logo" src="/img/Peacock.png"></a>
</header>

<h2> Allow us to know about you. </h2>

<p>Los incisos marcados con # son opcionales.</p>

  <p id="html"></p>

  <form id="target" action="/register/info_per" method="post">
  
    <input type="text" name="name_per" placeholder="Name"><br>
    <input type="text" name="lname_per" placeholder="Last Name"><br>
    <input type="text" name="born" placeholder="dd-mm-yyyy"> Fecha de nacimiento<br>
    <input type="text" name="ocupation" placeholder="Ocupation">
    <p>Social Status</p><input type="radio" name="soc_stat" value="single"> Single<br>
      <input type="radio" name="soc_stat" value="married"> Married<br>
    </select><br>
   
   
    <p>Coutry</p><input name="country" type="radio" value="MX"> Mexico<br>
      <input name="country" type="radio" value="US"> United States<br>

    <p>Adress.</p><input type="text" name="state" placeholder="State"><br>
    <input type="text" name="street" placeholder="Street"><br>
    <input type="text" name="n_ext" placeholder="Num ext"><br>
    <input type="text" name="n_int" placeholder="Num int">#<br>

    <input type="text" name="page" placeholder="Web Page">#<br>

    <textarea rows="4" cols="50" name="description" placeholder="Description"></textarea>#<br>
    <br>
    <input type="submit" value="Join!" class="btn"> <br>

  </form>
