<header>
  <a href="/"><img style="height: 100px" id="logo" src="/img/Peacock.png"></a>
</header>
<h1> Wellcome <%= session[:user] %></h1>

<a href="/info" style="color:blue" >My Information.</a>

<br>
<% if @current_user %>
<p style="color:green" >This is your Reputation.</p>

<a href=""><%= @current_user.reputation.ocupation %></a><br>
Average: <br>
<a><%= current_user.reputation.description %></a>
  
<%end%>
<br>

<% if @current_user %>
<p>These are your Employees.</p>
<% @current_user.relation.each do |employee|%>
<a href="/employee/<% employee.id%>"><%= employee.user_id %></a><br>
  <%end%>
<%end%>
<br>  

  <form id="Accion" action="/add_employee" method="post">
  <input type="text" name="pk_employee" placeholder="Peacock id or email"><br>
  <input type="submit" value="Add Employee!" class="btn"> <br>
  </form>

  <form id="logout" action="/logout" method="get">
    <br><input type="submit" value="Logout" class="btn"> <br>
  </form>