<header>
  <a href="/"><img style="height: 100px" id="logo" src="/img/Peacock.png"></a>
</header>
<h1> Bienvenido a tu pagina Secreta <%= session[:user] %></h1>

<br>
<% if @current_user %>
<% @current_user.reputation.map do |reputation|%>
<a href=""><%= reputation.ocupation %></a><br>
Average: <br>
<a><%= reputation.description %></a>
  <%end%>
<%end%>
<br>

  <form id="Accion" action="/add" method="post">
  <input type="text" placeholder="Add Reputation"><br>
  <textarea rows="4" cols="50" name="description" placeholder="Description"></textarea>
  <input type="submit" value="Do it!" class="btn"> <br>
  </form>

  <form id="logout" action="/logout" method="get">
    <br><input type="submit" value="Logout" class="btn"> <br>
  </form>